{% extends "shop/base.html" %}

{% block title %}Спасибо за покупку !{% endblock %}

{% block content %}
    <h1>
        {% if err_code == -1 %}
            Извините, один из товаров в Вашем заказе закончился :(
        {% elif err_code == -2 %}
            Кажется, Вы забыли добавить товары в корзину :(
        {% elif err_code == -3 %}
            Произошла ошибка :(
        {% else %}
            Спасибо за покупку !
        {% endif %}
    </h1>
    <p>
        {% if err_code == -1 or err_code == -3 %}
            Попробуйте заново оформить заказ  !
        {% elif err_code == -2 %}
            Бегом за покупками  !
        {% else %}
            Будем рады видеть Вас снова  ! Ваш номер заказа
            <strong>{{ order.id }}</strong>.
        {% endif %}
    </p>
{% endblock %}